{% extends './base.html' %}
{% block title%} EsadeEcPol - Anual {% endblock %}


{% block nav %}
<nav class="navegacion">
    <a class="navegacion__link" href="/">Trimestral</a>
    <a class="navegacion__link navegacion__link--active" href="/Anual.html">Anual · coming soon!</a>
    <a class="navegacion__link" href="/Metodologia.html">Metodología</a>
</nav>
{% endblock %}


{% block body %} 

<main class="main">
    <div class="main__contenedor main__contenedor--tracker">
        <h2>Estimacón anual</h2>
    </div>

    <div class="main__contenedor main__contenedor--tracker">
        <h2>Probabilidad de crecimiento anual<h2>
        
    </div>
</main>

{% endblock %}
