{% extends './base.html' %}
{% block title%} RealTime - EsadeEcPol {% endblock %}


{% block nav %}
<nav class="navegacion">
    <a class="navegacion__link navegacion__link--active" href="/">Trimestral</a>
    <a class="navegacion__link" href="/Anual.html">Anual · coming soon!</a>
    <a class="navegacion__link" href="/Metodologia.html">Metodología</a>
</nav>
{% endblock %}

{% block body %}

<main class="main">
    <div class="main__contenedor main__contenedor--tracker">
        <h2>Estimacón del trimestre actual</h2>
        <iframe class="iframe" title="Estimación del PIB intertrimestral  En tiempo real · 3T23" aria-label="Interactive line chart" id="datawrapper-chart-ez5rG" src="https://datawrapper.dwcdn.net/ez5rG/5/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="500" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
        </script>
    </div>

    <div class="main__contenedor main__contenedor--tracker">
        <h2>Probabilidad de crecimiento<h2>
        
    </div>

    <div class="main__contenedor main__contenedor--tracker">
        <h2>Composición del crecimiento actual</h2>
    </div>

    <div class="main__contenedor main__contenedor--tracker">
        <h2>Estimacion siguiente trimestre</h2>
    </div>
</main>


{% endblock %}